


body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    background-color:#60A4BF;
    background-size: cover;
    color: azure;
}

#maze {
    display: grid;
    grid-template-columns: repeat(30, 35px);
    gap: 0;
    margin: 20px auto;
    width: max-content;
}

.cell {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 2px solid#60A4BF;
    background-color: #60A4BF;
}

.cell.wall {
    background-image: url('caminho/para/sua/textura-de-pedra.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8C3211;
    border: 2px solid #260101;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.cell.exit {
  
    background-color: green;
    background-image: url("https://img.freepik.com/vetores-gratis/cena-da-paisagem-de-floresta-com-rio-e-muitas-arvores_1308-65371.jpg?uid=R200213735&ga=GA1.1.733596816.1747333713&semt=ais_hybrid&w=740");
    background-size: cover;
}

.cell.player {
    
    background-color: blue;
    background-image: url("https://img.freepik.com/vetores-gratis/ilustracao-de-pato-de-desenho-animado-desenhada-a-mao_23-2150426725.jpg?uid=R200213735&ga=GA1.1.733596816.1747333713&semt=ais_hybrid&w=740");
    background-size: cover;
}

#maze-message {
    position: fixed;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #A6056D;
    color: azure;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    display: none;
    z-index: 1000;
    border: 2px solid #fff;
}

#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #60A4BF;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#game-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#start-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #A6056D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #B64D80;
}

