* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; /* Impede rolagem */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #60A4BF; /* Cor de fundo original */
    color: azure; /* Cor de texto original */
    text-align: center;
}

#maze {
    display: grid;
    grid-template-columns: repeat(30, 35px); /* Ajuste para um grid de 30 colunas */
    gap: 0;
    margin: 20px auto;
    width: max-content;
}

.cell {
    width: 35px;
    height: 35px;
    border: 2px solid #60A4BF; /* Borda com a cor de fundo */
}

.cell.wall {
    background-color: #8C3211; /* Cor original das paredes */
    border: 2px solid #260101; /* Cor da borda das paredes */
    border-radius: 4px;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.4); /* Sombras mais intensas nas paredes */
}

.cell.exit {
    background-color: green; /* Cor da saída */
    background-image: url("https://img.freepik.com/vetores-gratis/cena-da-paisagem-de-floresta-com-rio-e-muitas-arvores_1308-65371.jpg");
    background-size: cover; /* Imagem de fundo para a saída */
}

.cell.player {
    background-color: blue; /* Cor do jogador */
    background-image: url("https://img.freepik.com/vetores-gratis/ilustracao-de-pato-de-desenho-animado-desenhada-a-mao_23-2150426725.jpg");
    background-size: cover; /* Imagem de fundo para o jogador */
}

#maze-message {
    position: fixed;
    top: 50%; /* Centralizado verticalmente */
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a mensagem */
    background-color: #A6056D; /* Cor de fundo da mensagem */
    color: azure; /* Cor do texto da mensagem */
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    display: none; /* Inicialmente oculto */
    z-index: 1000;
    border: 2px solid #fff; /* Borda branca ao redor da mensagem */
}

#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#start-button, #restart-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #A6056D; /* Cor do botão */
    color: white; /* Cor do texto no botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover, #restart-button:hover {
    background-color: #B64D80; /* Cor ao passar o mouse */
}
